<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - File Access Usage Description</key>
	<string>Find and play music</string>
	<key>Privacy - Media Library Usage Description
Privacy - Media Library Usage Description
privacy - media library usage description</key>
	<string>Find and play music</string>
</dict>
</plist>
